body {

background-color: lightgreen;


}

.title {

background-color: pink;
margin: 20px;
padding: 10px;
text-align: center;

}

.list {
  display: block;
  margin: 20px;
  padding: 10px;
  text-align: center;

}
